.header{
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  padding: 10px;
}
body{
  margin: 0;
  padding: 0;
}

.header ul{
  display: flex;
  list-style-type: none;
  width:300px;
  margin: auto;
  justify-content: space-around;
}
.college {
  text-decoration: none;
  font-size: 20px;
}
.college .department{
   margin: 10px;
   text-decoration: none;
}
.college .courses{
   margin: 10px;
   text-decoration: none;
}
.header ul li{
  padding: 10px;
  text-decoration: none;
}
.header ul li .Home{
 
  text-decoration: none;
}
.header ul li .College{
 
  text-decoration: none;
}
.header ul li .List{
 
  text-decoration: none;
}

.header ul li .About{
  
  text-decoration: none;
}
.header ul li .Users{
  
  text-decoration: none;
}
.header .Link h2{
  margin-top: 10px;
}
.header .Link{
  text-decoration: none;
}
.active{
  font-weight: 800;
}